<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Task App</title>
</head>
<body>
<h1>Task App</h1>

<form method="post" action="/tasks">
    <input name="title" placeholder="やること" />
    <button type="submit">追加</button>
</form>

<ul>
    <li th:each="t : ${tasks}">

        <!-- タイトル -->
        <span th:text="${t.title}"
              th:style="${t.completed} ? 'text-decoration: line-through;' : ''">
        </span>

        <!-- 完了切り替え -->
        <form th:action="@{/tasks/{id}/toggle(id=${t.id})}" method="post">
            <button type="submit"
                    th:text="${t.completed} ? '未完了に戻す' : '完了にする'">
            </button>
        </form>

        <!-- 削除 -->
        <form th:action="@{/tasks/{id}/delete(id=${t.id})}" method="post">
            <button type="submit">削除</button>
        </form>

        <form th:action="@{/tasks/{id}/edit(id=${t.id})}" method="post" style="display:inline;">
            <input name="title" th:value="${t.title}" />
            <button type="submit">変更</button>
        </form>

    </li>
</ul>

</body>
</html>