<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Task App</title>
</head>
<body>
<h1>Task App</h1>

<form method="get" action="/">
    <input type="text" name="q" placeholder="検索キーワード">
    <button type="submit">検索</button>
</form>

<div>
    <a th:href="@{/(page=0, size=${page.size})}">すべて</a>

    <a th:href="@{/(filter=todo, page=0, size=${page.size})}">
        未完了
    </a>

    <a th:href="@{/(filter=done, page=0, size=${page.size})}">
        完了
    </a>
</div>

<form th:action="@{/tasks}" th:object="${taskForm}" method="post">

    <input type="text" th:field="*{title}" placeholder="新しいタスク" />
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

    <select th:field="*{priority}">
        <option th:each="p : ${priorities}"
                th:value="${p}"
                th:text="${p}">
        </option>
    </select>
    <div th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></div>

    <button type="submit">追加</button>

    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
</form>

<div>
    <span th:text="${page.number + 1}"></span> / <span th:text="${page.totalPages}"></span>

    <a th:if="${page.hasPrevious()}"
       th:href="@{/(page=${page.number-1}, size=${page.size}, filter=${filter}, q=${q})}">
        前へ
    </a>

    <a th:if="${page.hasNext()}"
       th:href="@{/(page=${page.number+1}, size=${page.size}, filter=${filter}, q=${q})}">
        次へ
    </a>
</div>

<ul>
    <li th:each="t : ${tasks}">

        <!-- タイトル -->
        <span th:text="${t.title}"
              th:style="${t.completed} ? 'text-decoration: line-through;' : ''">
        </span>

        <span th:text="${t.priority}"
              th:style="${t.priority.name() == 'HIGH'} ? 'color:red;' :
                (${t.priority.name() == 'MEDIUM'} ? 'color:orange;' : 'color:green;')">
        </span>

        <!-- 完了切り替え -->
        <form th:action="@{/tasks/{id}/toggle(id=${t.id})}" method="post">
            <button type="submit"
                    th:text="${t.completed} ? '未完了に戻す' : '完了にする'">
            </button>
        </form>

        <!-- 削除 -->
        <form th:action="@{/tasks/{id}/delete(id=${t.id})}" method="post">
            <button type="submit">削除</button>
        </form>

        <form th:action="@{/tasks/{id}/edit(id=${t.id})}" method="post" style="display:inline;">
            <input name="title" th:value="${t.title}" />
            <button type="submit">変更</button>
        </form>

    </li>
</ul>

</body>
</html>